
//    Font Family

$primary-font	: 'Work+Sans', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #54587A;
$title-color	: #1D1D1B;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #1D1D1B;






